export(BayesReg,
	ardipper,
	gibbsnorm,     
	hmnoinfloglin,       
	loglinll,          
	rdirichlet,
	ARllog,     
	gibbs,         
	hmnoinfprobit,       
	loglinnoinflpost,  
	pottsgibbs,          
	reconstruct,
	ARmh,       
        MAmh,
	hmflatlogit,   
	hmhmm,
	MAllog,            
	solbeta,
	BayesReg,   
	hmflatloglin,  
	isinghm,             
	ModChoBayesReg,    
	pottshm,             
	sumising,
	gibbscap1,     
	hmflatprobit,  
	isingibbs,           
	pbino,             
	thresh,
	gibbscap2,     
	pcapture,          
	probet,              
	truncnorm,
	hmmeantemp,    
	logitll,             
	pdarroch,          
	probitll,            
	xneig4,
	gibbsmean,  
	hmnoinflogit,  
	logitnoinflpost,     
	plotmix,           
	probitnoinflpost)
